---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import BaseLayout from "../layout/default.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import Contact from "../components/Contact.astro";
---

<BaseLayout pageTitle="Inspirations">
  <Breadcrumbs
    items={[{ href: "/", label: "Accueil" }]}
    current="Inspirations"
  />
  <section class="hero">
    <div class="title">
      <h1>Veille et inspirations</h1>
      <Image src="/assets/icons/inspi-h.svg" alt="" width="402" height="39" />
    </div>
    <p>Bienvenue dans ma tête, aussi appelée ma banque à inspi.</p>
  </section>
  <section class="project">
    <div class="project__inner">
      <h2>Mes projets</h2>
      <p>
        Mes projets se basent sur mes sources, alors si vous voulez découvrir
        comment je passe de l’inspiration au concret, n’hésitez pas à aller voir
        mes projets.
      </p>
      <div class="project__assets">
        <Button title="Découvrir mes projets" href="/projets/" />
        <img src="/assets/icons/welcome.svg" alt="" width="78" height="68" />
      </div>
    </div>
  </section>
  <section class="process">
    <img src="/assets/icons/arrow-down.svg" alt="" />
    <div class="process__content">
      <h2>Comment je procède</h2>
      <p>
        J’essaye de cultiver ma veille quotidiennement, afin de toujours avoir
        un regard actuel et éveillé sur un projet. Pour cela, je me tiens
        informée grâce à mon flux RSS. Ensuite, selon le type ou le thème du
        projet, je me dirige vers plusieurs de mes sources.
      </p>
    </div>
  </section>
  <section class="case">
    <div class="design">
      <h3>Webdesign et graphisme</h3>
      <p>
        Ici, je regarde d’abord des sites (d’offres) similaires, puis je vais
        faire ma vieille d’interface sur les sites les plus connus : Awwwards,
        Behance, Pinterest, Dribbble. Je prends également en compte les
        actualités via mon flux. Après cela, je vais dresser un inspiration
        board (où je mets des éléments que je veux retrouver sur mon site, des
        composants, des effets, des fonctionnalités) et un moodboard (où je
        regroupe des choix de design brut, comme de la typo, des éléments
        graphiques, de la texture, de la couleur ou du style).
      </p>
    </div>
    <div class="ux-project">
      <h3>Projet UX</h3>
      <p>
        Je me réfère d’abord au sujet et réalise un benchmark et un audit du
        service ou du produit à améliorer. Je vais ensuite créer des proto
        persona, imaginer leurs profils et leurs cartes d’expérience et
        d’empathie. Grâce à ça, je vais pouvoir dresser un formulaire que je
        vais partager aux gens que je cible, pour avoir du contenu quantitatif,
        puis, si possible, une étude qualitative pour proposer une solution
        aboutie.
      </p>
    </div>
    <div class="photo-video">
      <h3>Photo & vidéo</h3>
      <p>
        Selon l’intention, je vais regarder ce qui se fait dans le sujet, puis
        je vais créer une note d’intention. Dedans, j’y mets mes recherches, mon
        moodboard, le matériel que je utiliser, les sujets, le(s) décor(s) etc.
        Tout ça, je le lie à un nuage de mot qui me permet de garder un fil
        directeur.
      </p>
    </div>
  </section>
  <section class="people">
    <h2>Les personnalités que je suis</h2>
    <p>
      En 2025, j’ai eu l’occasion d’assister au <a
        href="https://cssday.nl/attendees.html">css-day</a
      >, là-bas j’ai rencontré et discuté avec énormément de têtes (j’aime les
      appeler les "final bosses"). Cette convention m’a permis d’avoir un regard
      nouveau sur notre manière d’utiliser le CSS dans le confort cognitif et
      l’accessibilité.
    </p>
    <div class="avatars">
      <div class="miriam">
        <a href="https://www.miriamsuzanne.com/">
          <img
            src="/assets/images/miriam.svg"
            alt="Miriam Suzanne"
            width="300"
            height="360"
          />
          <p>Miriam Suzanne</p>
        </a>
      </div>
      <div class="adam">
        <a href="https://nerdy.dev/">
          <img
            src="/assets/images/adam.svg"
            alt="Adam Argyle"
            width="300"
            height="360"
          />
          <p>Adam Argyle</p>
        </a>
      </div>
      <div class="ahmad">
        <a href="https://ishadeed.com/">
          <img
            src="/assets/images/ahmad.svg"
            alt="Ahmad Shadeed"
            width="300"
            height="360"
          />
          <p>Ahmad Shadeed</p>
        </a>
      </div>
      <div class="jeremy">
        <a href="https://adactio.com/">
          <img
            src="/assets/images/jeremy.svg"
            alt="Jeremy Keith"
            width="300"
            height="360"
          />
          <p>Jeremy Keith</p>
        </a>
      </div>
      <div class="heydon">
        <a href="https://heydonworks.com/">
          <img
            src="/assets/images/heydon.svg"
            alt="Heydon Pickering"
            width="300"
            height="360"
          />
          <p>Heydon Pickering</p>
        </a>
      </div>
      <div class="cyd">
        <a href="https://cydstumpel.nl/">
          <img
            src="/assets/images/cyd.svg"
            alt="Cyd Stumpel"
            width="300"
            height="360"
          />
          <p>Cyd Stumpel</p>
        </a>
      </div>
    </div>
    <p>
      Ces gens sont mes principales références en terme de veille continue.
      C’est à dire que je suis leurs actualités, mais ce n’est pas forcément
      vers eux que je me tourne dès que je cherche une info en particulier, ou
      un tuto.
    </p>
  </section>
  <Contact />

  <style>
    .project {
      width: 100%;
      background: var(--secondary);
    }

    .project__inner {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
      padding: var(--space-l-xl);
    }

    .project__assets {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      gap: var(--space-m);
    }

    .process {
      display: flex;
      flex-direction: row;
      gap: var(--space-m);
    }

    .process__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
    }

    .case {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-m);
    }

    .design,
    .ux-project,
    .photo-video {
      background-color: var(--secondary);
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
      border-left: 4px solid var(--title);
      padding: var(--space-s);
      height: fit-content;
    }

    .people {
      display: flex;
      flex-direction: column;
      gap: var(--space-m);
    }

    .people a {
      color: var(--text-primary);
      text-decoration: underline;
    }

    .avatars {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-m);
    }

    .adam,
    .ahmad,
    .jeremy,
    .heydon,
    .cyd,
    .miriam {
      display: flex;
      flex-direction: column;
      gap: var(--space-s);
      align-items: center;
      padding-bottom: var(--space-m);
      box-shadow: 0px 8px 8px var(--secondary);
      text-align: center;
    }

    .avatars img {
      border-radius: 20px;
    }

    @media screen and (max-width: 480px) {
      * img {
        display: none;
      }

      main {
        margin-top: 0;
      }

      .project__inner {
        flex-wrap: wrap;
      }

      .case {
        display: flex;
        flex-direction: column;
      }
    }
  </style>
</BaseLayout>
